OPENAI_API_KEY=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
#OPENAI_API_BASE=https://api.vveai.com/v1
OPENAI_API_BASE=https://api.openai.com/v1